@import "./_mixins.scss";
@import "./_gogo.style.scss";
@import "./_plugins.scss";

/** your custom css code **/
/* 
html {
    background-color: $theme-color-1 !important;
}
*/

#planner-container {
  height: 100%;

  .navbar {
    #iconMenuDropdown {
      height: 190px;
    }

    .top-toolbar {
      margin-left: 10px;
      flex-basis: auto;

      .button-group {
        border-top: 1px solid #dadada;
        border-left: 1px solid #dadada;
        margin-right: 10px;

        button.toolbar-item,
        button.toolbar-toggle {
          background: #fff;
          color: #333;
          padding: 0;
          border: none;
          border-radius: 0;

          &:hover {
            background: #f4f4f4;
            border-color: #eaeaea;
          }

          &.active {
            background: #f4f4f4;
            border-color: #eaeaea;
          }
        }

        button.toolbar-item {
          font-size: 32px;
          min-width: 48px;
          min-height: 48px;
          border-bottom: 1px solid #dadada;
          border-right: 1px solid #dadada;
        }

        button.toolbar-toggle {
          font-size: 16px;
          width: 24px;
          border-bottom: 1px solid #dadada;
          border-right: 1px solid #dadada;

          &:after {
            margin-left: 0;
          }
        }

        .btn-title {
          font-weight: bold;
          font-size: 10px;
          margin-left: 5px;
          margin-right: 5px;
        }
      }
    }

    .flex-auto {
      flex-basis: auto;
    }

    .navbar-right {
      .project-name-badge {
        font-size: 18px;
      }

      .user {
        margin-right: 20px;
      }
    }
  }

  main {
    height: calc(100vh - 120px);
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 110px;
    margin-bottom: 0;
  }

  .container-fluid {
    height: 100%;
    position: relative;
    left: 0px;
    transition: transform 300ms;

    .planner-wrapper {
      height: 100%;
    }
  }

  #optimization-bar {
    width: 500px;
    background: white;
    z-index: 2;
    position: fixed;
    left: -500px;
    border-left: 1px solid #f3f3f3;
    box-shadow: 0 3px 30px rgba(0, 0, 0, 0.1), 0 3px 20px rgba(0, 0, 0, 0.1);
    transition: transform 300ms;
    height: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 0;
  }
}

#planner-container.bar-show {
  main {
    // transform: translateX(500px);    
    margin-left: 500px;
  }

  #optimization-bar {
    transform: translateX(500px);
  }
}

.projects-container {
  .container-fluid {
    .project-wrapper {
      .project-list {

        .position-relative {

          .project-item-img {
            width: 100%;
          }
        }
      }
    }
  }
}

.center {
    margin: auto;
    width: 100%;
    padding-left: 20%;
    padding-right: 20%;
    padding-top: 10px;
}